<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>FORAGEATER</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        
        <!-- Add your site or application content here -->
        <h3>Recipe/Meal Input Page</h3>
        <div>
            <label for="itemSearch">Look up:</label>
            <input id="itemSearch" type='text' onchange="queryNDBNo(this.value)"/>
            <input id="itemSearchSubmit" type="button" value="search" onclick="queryNDBNo()" />
        </div>
        <div class="recipeInput">
            <form action="/main/isedible/nutrition"  method="POST" name="meal">
                <ul>
                    <li>
                        <form-group>
                            <label for="item-1">Ingredient: </label>
                            <input type="text" name="item-1">
                        </form-group>
                    </li>
                    <li>
                        <form-group>
                            <label for="item-2">Ingredient: </label>
                            <input type="text" name="item-2">
                        </form-group>
                    </li>
                    <li>
                        <form-group>
                            <label for="item-3">Ingredient: </label>
                            <input type="text" name="item-3">
                        </form-group>
                    </li>
                    <li>
                        <input type="submit">
                    </li>
                </ul>
        
            </form>
        </div>
        
       
        <script type="text/javascript" src="/views/js/client.recipeInput.js" ></script>
        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
        //     console.log("booourns")
        //    var searchItem = document.querySelector('#itemSearch')
        //    var searchSubmit = document.querySelector('#itemSearchSubmit');
        //    console.log(searchSubmit)
        //    searchItem.onchange = function(e) {
        //        queryNDBNo(e.target.value)
        //        this.value = "";
        //    }
        //    searchSubmit.onclick = function(e) {
        //        console.log(e.target.value)
        //     //    clean input variable
        //    }
        </script>
        <!-- <script src="controllers/script.js" type="text/javascript"></script> -->
        <!-- <script src="https://www.google-analytics.com/analytics.js" async defe></script> -->
    </body>
</html>